<div>
  <h2>REGISTER </h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" required>
      <div class="error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        Username is required.
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <div class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Enter a valid email.
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <div class="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        Password is required (minimum 6 characters).
      </div>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
      <div class="error" *ngIf="passwordMismatch">
        Passwords do not match.
      </div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid || passwordMismatch">Register</button>
  </form>
</div>
